.header {
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
}

@media screen and (min-width: 500px) {
  .header {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.header h3 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  line-height: 3.5rem;
  margin-left: 0.75rem;
  font-weight: 700;

  font-size: 1.2rem;
}

.header img {
  margin-top: calc((3.5rem - 30px) / 2);
  margin-bottom: calc((3.5rem - 30px) / 2);
}

.author {
  font-family: var(--marriweather);
  font-weight: 400;
  color: #8e6e15;
}

.container {
  max-width: 610px;
  padding: 0 calc(1.75rem / 2);
  margin: 0 auto;
}

.post video,
.post iframe,
.post img {
  margin-left: calc(100% / 2 - 100vw / 2) !important;
  margin-right: calc(100% / 2 - 100vw / 2) !important;
  width: 100vw !important;
  max-width: 100vw !important;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .post video,
  .post iframe,
  .post img {
    border-radius: 10px;
    margin-left: -50px !important;
    margin-right: -50px !important;
    max-width: calc(700px - 1.75rem / 2) !important;
  }
}

.post .footnotes > ol > li > p {
  display: inline;
}

.headerContainer {
  display: flex;
}

.spacer {
  flex: 1 1 0%;
}
